*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    background: #dde1e7;
}
.calculator{
    width: 330px;
background: #dde1e7;
padding: 40px 30px;
border-radius: 10px;
box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);
}
form .result{
    height: 60px;
    width: 100%;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73,inset 2px 2px 5px rgba(94,104,121,0.288);
}
.result input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 0 20px;
    text-align: right;
    font-weight: 500;
    color: #595959;
    pointer-events: none;
    font-family:sans-serif;
}
form .buttons{
    text-align: center;
    padding: 30px 0 0 0;
}
.buttons input[type="button"]{
    height: 56px;
    width: 56px;
    font-size:23px;
    margin: 4px;
    border: none;
    background: #dde1e7;
    border-radius: 5px;
    color: #595959;
    box-shadow: -3px -3px 7px #ffffff73,2px 2px 5px rgba(94,104,121,0.288);
}
.buttons input[type="button"]:focus{
    color: #3498db;
    transform: scale(0.9);
    box-shadow: inset -3px -3px 7px #ffffff73,inset 2px 2px 5px rgba(94,104,121,0.288);
}